<%
  // title
  if (typeof title === 'undefined' || title === '') {
    var title = site.title;
  } else {
    title = title + ' - ' + site.title;
  }

  // description
  if (typeof description === 'undefined' || description === '') {
    var description = site.description;
  }

  // og_image
  if (typeof og_image === 'undefined' || og_image === '') {
    var og_image = site.og_image;
  }

  // path
  if (typeof path !== 'undefined' && path !== '') {
    var page_url = site.root_url + path;
  }
%>

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="website">
    <% if (page_url) { %>
      <meta property="og:url" content="<%= page_url %>">
    <% } %>
    <meta property="og:image" content="<%= og_image %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="fb:app_id" content="<%= site.fb_app_id %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%= site.twitter_screen_name %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="<%= og_image %>">
  </head>
  <body>
